.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%; 
    border-radius: 15px;

    transition: all 0.9s ease-in-out;

  }
  
  .form-container.focused {
    border: 1px solid #0056b3;
  }

  .form-container input {
    width: 80%;
    padding: 20px; 
    background-color: #1f1f1f;
    border: none;
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    outline: none;
  } 
  .form-container button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px; 
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 16px;
    outline: none;
    background-color: #1f1f1f;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .form-container button svg {
    margin-right: 10px;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }